@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
 margin: 0;
 padding: 0;
}

body {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;    
}

div {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 30%;
    border-bottom: 1px solid black;
}

.navbar {
    margin: 0px;
    background-color: #2e2e2e;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    position: fixed;
    top: 0;
    ol {
        justify-content: flex-end;
        display: flex;
        list-style: none;
    }
    li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 5px;
        font-size: 22px;
        margin-right: 30px;
    }
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        width: 60%;
    }

}

#educacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    ul {
        font-size: 20px;
    }
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 50%;
        padding: 12px;
        background-color: #2e2e2e;
        border-radius: 9px;
        color: white;
        input {
            background-color: #e6e6e6;
            border: none;
        }
        textarea {
            border: none;
            background-color: #e6e6e6;
        }
    }
}

#botao {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
}

p {
 font-size: 20px;
}

h2 {
 font-size: 40px;
 margin-bottom: 20px;
}